.project-section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cenetr;
}

.project-section h2 {
  margin-top: 25px;
  font-size: 65px;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-section .project-containers {
  width: 80%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.project-section .top-row {
  display: flex;
  flex-direction: row;
}

.project-section .div1,
.div2,
.div3 {
  background-color: rgba(90, 200, 250, 0.15);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.project-section .bottom-row {
  margin-top: 10px;
  width: 100%;
}

.project-section .div1,
.div2 {
  flex: 1;
  width: 150px;
  height: 230px;
  font-size: 20px;
}

.project-section .div3 {
  width: 1170px;
  height: 200px;
}

.project-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div1:hover,
.div2:hover,
.div3:hover {
  animation: animate2 1.5s ease-in infinite backwards;
}

.project-description {
  margin-top: 20px;
}

.tech {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

@keyframes animate2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .project-section {
    margin:100px auto;
    width:100vw !important;
  }
  .project-section h2{
    margin:25px auto !important;
  }
  .project-containers{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project-section .top-row {
    margin-top:-25px;
    display: flex;
    flex-direction: column;
  }
 .div1,.div2,.div3{
    width:300px !important;
    height:210px;
    margin-top:10px;
    margin:5px auto !important;
  }

  .div3{
    height:250px !important;
  }
  .div3-desc{
    font-size:15px !important;
  }

  .project-description{
    font-size:15px;
  }
  .tech{
    display:none;
  }
  .bottom-row, .div3{
    margin-top:3px !important;
  }

}
