.skill-section desc {
  line-height: 1.2;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 25px;
  width: 75%;
  animation: animate1 2s ease-in infinite backwards;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column img {
  width: 75px;
  height: 75px;
  object-fit: align;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  text-align: center;
}

@keyframes animate1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .row {
    justify-content: center;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 75%;
    animation: none;
  }

  .column {
    width: 100px;
    margin: 20px auto;
  }
  .skill-section {
    padding-top: -5px;
  }
  .skill-section .desc {
    display: none;
  }
  .skill-section .right {
    margin-top: -10px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
