.Contact-section {
  height: 90vh;
  scroll-snap-align: center;
}

.Contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.Contact-left {
  margin-top: -50px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .Contact-left {
    justify-content: center;
  }
}

.Contact-title {
  font-size: 64px;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Contact-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media only screen and (max-width: 768px) {
  .Contact-form {
    width: 300px;
  }
}

.Contact-input {
  padding: 20px;
  border: 1px solid #e8e6e6;
  background: transparent;
  border-radius: 10px;
}

.Contact-textarea {
  padding: 20px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  border: 1px solid #e8e6e6;
  background: transparent;
}
::placeholder {
  color: #e8e6e6;
}

input,
textarea {
  color: #fff;
  font-size: 15px;
}

.Contact-button {
  font-size: 15px;
  border: 1px solid white;
  color: white;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
}

.Contact-button:hover{
  color: white;
  background: rgba(90, 200, 250, 0.15);

}
.Contact-input.invalid,
.Contact-textarea.invalid {
  border-color: red;
}

.Contact-right {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .Contact-section{

    padding-top:100px;
  }
  .Contact-right {
    display: none;
  }
  .Contact-title{
    text-align:center;
  }
  .Contact-section{
    margin-top:80px;
    height: 92vh;
  }
}
